**/README*.md
**/node_modules
**/.git
**/.gitignore
**/*~
**/build
**/*.o
**/*.a
**/Dockerfile*
**/docker-compose*
**/doc

README*.md
node_modules
.git
.gitignore
*~
build
*.o
*.a
Dockerfile*
docker-compose*

run.sh
*.env
