[submodule "milagro-crypto-c"]
	path = external/milagro-crypto-c
	url = git@github.com:cliqz-oss/milagro-crypto-c.git
[submodule "external/amcl"]
	path = external/amcl
	url = https://github.com/miracl/amcl.git
