[Unit]
Description=Exports data written by the groupsign NodeJs server to S3. To be executed at shutdown.
After=network.target
Documentation=https://github.com/cliqz/group-sign

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/groupsign
ExecStart=/bin/true
ExecStop=/opt/exporter/groupsign-exporter.sh

# Security
User=groupsign
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateUsers=yes
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallFilter=~@clock @module @mount @obsolete @raw-io ptrace

# Grant write permission to output directories
ReadWritePaths=-/mutable

[Install]
WantedBy=multi-user.target
