[Unit]
Description=Periodically triggers the upload of events to S3.

[Timer]
OnBootSec=20m
OnUnitActiveSec=20m
Unit=groupsign-exporter.service

[Install]
WantedBy=multi-user.target
