[Unit]
Description=Exports data written by the groupsign NodeJs server to S3
After=network.target
Documentation=https://github.com/cliqz/group-sign

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/groupsign
ExecStart=/bin/true

# TODO: Upload to S3 (via some script)
# TODO: Grant the machine the permission to write access S3
# TODO: In addition to a shutdown hook, we should use a timer to upload periodically
ExecStop=/bin/echo "STUB: Upload to S3 not implemented"

# Security
User=groupsign
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateUsers=yes
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallFilter=~@clock @module @mount @obsolete @raw-io ptrace

# Grant read permission to output directories
ReadOnlyPaths=-/mutable

[Install]
WantedBy=multi-user.target
